body{
  background-image: url(font/fond.jpg);
  background-size: cover;
  margin: 0 auto;
}

#tableau{
  width: 1000px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
}

#histo{
  border: 1px solid black;
  width: 100px;
  height:500px;
}

h1{
  text-align: center;
  color: green;
}

table{
  margin: auto;
  background-color: rgba(255, 255, 255, 0.3);
}

#div1{
  position: relative;
  text-align: center;
  top: 0 auto;
  border-bottom: 1px dotted black;
}
#histo1{
  overflow: inherit;
  text-align: center;
  padding-top: 14px;
}

p{
  text-align: center;
  font-size: 24  px;
  color: blue;
}

span{
  color: red;
}

#tab{
  width: 900px;
  height: 500px;
}


#mot_norm{
  text-align: center;
}

#motinvers{
  text-align: center;
}



tr{
  border: 1px solid black;
}

td{
  text-align: center;
  height: 20%;
  border: 1px solid black;
}



.td2{
  width: 100%;
  border: 1px solid black;
}

.td1{
  width: 30%;
  border: 1px solid black;
}
